@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    letter-spacing: -0.05em;
    font-family: 'Pretendard';
    color: #111;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(12, 12, 12);
}

.main_header {
    padding: 0 50px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    line-height: 100px;
    font-size: 18px;
}

.right_header>.main_menu {
    display: flex;
    gap: 40px;
}

.contactmenu {
    background-color: #111;
    border-radius: 30px;
    padding: 10px 20px;
    color: #fafafa;
    transition: all 0.3s ease;
}

.contactmenu:hover {
    background: rgb(0, 177, 118);
    color: #fafafa;
}

.main_page {
    padding: 0 50px;
    width: 100%;
    height: calc(100vh - 100px);
    /* background-color: aqua; */
    /* overflow: hidden; */
}

.main_title {
    position: relative;
    animation: introText 1.2s ease-out forwards;
}

@keyframes introText {
    0% {
        transform: scale(0.90);
    }

    100% {
        transform: scale(1);
    }
}

h2 {
    font-size: 120px;
    font-weight: 900;
    line-height: 120px;
    letter-spacing: -0.05em;
    margin-bottom: 30px;
    margin-top: 200px;
}

.title_wrap {
    display: flex;
    align-items: end;
    gap: 30px;
}

.line {
    width: 940px;
    height: 2px;
    background: #000;
    margin-bottom: 50px;
}

.vertical {
    writing-mode: vertical-lr;
    position: absolute;
    right: -70px;
    top: -200px;
}

.gradient_text {
    background: linear-gradient(90deg, #00000044, #ffffff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.face {
    width: 650px;
    height: 650px;
    position: absolute;
    left: 750px;
    top: 20px;
    animation: floating 4s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

.about_me {
    color: #fafafa;
    background-color: #111;
    width: 100%;
    height: 155vh;
    transform: translateY(80px);
    opacity: 0;
    transition: all 0.8s ease;
}

.about_me.active {
    transform: translateY(0);
    opacity: 1;
}

.about_main {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    padding-top: 200px;
    margin-bottom: 100px;
    position: relative;
}

.about_title>h3 {
    font-size: 60px;
    margin-bottom: 120px;
}

.about_main>.dot {
    width: 63px;
    height: 63px;
    position: absolute;
    top: 167px;
    left: 52px;
    border-radius: 50%;
    border: solid #fafafa 1px;
}

.about_img {
    position: relative;
}

.keyword {
    text-align: center;
    padding: 10px 30px;
    display: inline-block;
    background-color: rgb(164, 255, 225);
    color: rgb(0, 177, 118);
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    animation: floating2 4s ease-in-out infinite;
    z-index: 9;
}

@keyframes floating2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.keyword01 {
    position: absolute;
    top: 170px;
    left: 25px;
}

.keyword02 {
    position: absolute;
    top: 230px;
    left: 80px;
}

.keyword03 {
    position: absolute;
    top: 290px;
    left: -30px;
}

.wrap_box {
    width: 420px;
    height: 420px;
    background-color: #00b176;
    border-radius: 500px;
    overflow: hidden;
    object-fit: cover;
}

.wrap_box.active {
    width: 1150px;
}

.name {
    display: flex;
    align-items: end;
    gap: 10px;
    margin-bottom: 10px;
}

.name>:first-child {
    font-size: 28px;
    font-weight: 600;
}

.name>:last-child {
    font-size: 14px;
    color: #757575;
}

.ex {
    line-height: 25px;
}

.about_con {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;
}

.content_title {
    font-weight: 200;
    margin-bottom: 5px;
}

.content_sub {
    font-weight: 200;
    font-size: 12px;
    color: #757575;
    margin-bottom: 18px;
}

.about_skill {
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 100px;
    align-items: center;
}

.about_skill>h3 {
    margin: 0 100px 0 40px;
}

.bar {
    width: 330px;
    height: 5px;
    background: #080808;
    border-radius: 999px;
    overflow: hidden;
}

.fill {
    width: 0;
    height: 100%;
    background: #00b176;
    transition: width 1.5s ease;
}

.fill.active {
    /* active에서는 width 건드리지 않음 */
}

.icon {
    width: 45px;
    height: 45px;
}

.barline {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.barcon>p {
    font-size: 18px;
    margin-bottom: 14px;
}

.works {
    height: 80vh;
    display: flex;
    gap: 80px;
    align-items: flex-start;
    padding: 0 100px;
    margin-top: 200px;
    overflow: hidden;
    overflow-x: hidden;
}

.works_title {
    height: 523px;
    flex: 1;
    position: relative;
}

.works_title>h3 {
    font-size: 60px;
    font-weight: 800;
}

.mo_p {
    display: none;
}

.under {
    transform: rotate(90deg);
    position: absolute;
    left: -10px;
    bottom: 0;
    font-size: 30px;
    font-weight: 200;
    animation: float 1.5s ease-in-out infinite;
}

.under_mo {
    display: none;
}

@keyframes float {
    0% {
        transform: rotate(90deg) translateX(0);
    }

    50% {
        transform: rotate(90deg) translateX(10px);
    }

    100% {
        transform: rotate(90deg) translateX(0);
    }
}

.project_slider {
    flex: 3;
    min-width: 0;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 690px;
    overflow: hidden;
    position: relative;
    max-width: 100%;
}

.track {
    display: flex;
    gap: 20px;
    height: 100%;
    width: max-content;
    transition: transform 0.6s ease;
    flex-wrap: nowrap;
}

.slide {
    width: 300px;
    height: 525px;
    flex-shrink: 0;
}

.card_link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    transition: transform 0.4s ease;
}

.hover>h3 {
    font-size: 35px;
    font-weight: 700;
}

.hover>p:first-child {
    font-size: 14px;
    color: #fafafa;
    font-weight: 200;
    line-height: 20px;
    border: solid #fafafa 1px;
    padding: 2px 15px;
    display: inline-block;
    border-radius: 30px;
    margin-bottom: 20px;
}

.hover>p:last-child {
    font-size: 14px;
    color: #fafafaa8;
    font-weight: 200;
    line-height: 20px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease, filter 0.6s ease;
    transform: scale(1.05);
}

.card:hover img {
    transform: scale(1.1);
    filter: blur(2px) brightness(0.6);
}

.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    z-index: 2;
}

.text {
    position: absolute;
    transition: all 0.4s ease;
}

.text.default {
    opacity: 1;
    transform: translateY(0);
}

.text.hover {
    opacity: 0;
    transform: translateY(20px);
}

.card:hover .text.default {
    opacity: 0;
    transform: translateY(-20px);
}

.card:hover .text.hover {
    opacity: 1;
    transform: translateY(0);
}

.arrow_controls {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.arrow_controls button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #111;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
}

.arrow_controls button:hover {
    background: #111;
    color: #fff;
}

.contact {
    width: 100%;
    height: 55vh;
    padding: 0 100px 80px;
}

h1 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 200px;
    line-height: 200px;
}

.contact_wrap {
    display: flex;
    gap: 280px;
    align-items: center;
    margin-top: 50px;
}

.tact_title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 30px;
}

.numail_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}

.numail {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    gap: 10px;
    margin-left: 3px;
    margin-bottom: 10px;
}

.numail_title {
    font-weight: 700;
}

.last_tact {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.right_tact {
    text-align: right;
}

.top_btn {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #111;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
    z-index: 999;
    font-size: 13px;
    letter-spacing: 1px;
}

.top_btn:hover {
    background: #111;
    color: #fafafa;
}


@media (max-width: 768px) {
    .main_header {
        padding: 0 20px;
        height: 70px;
        line-height: 70px;
        font-size: 14px;
    }

    .right_header>.main_menu {
        gap: 15px;
    }

    .contactmenu {
        padding: 6px 12px;
        border-radius: 20px;
    }

    .main_page {
        padding: 0 20px 100px;
        min-height: 60vh;
        height: auto;
        position: relative;
        overflow: visible;
        overflow-x: hidden;
    }

    .main_title>p {
        font-size: 14px;
    }

    h2 {
        font-size: 58px;
        line-height: 52px;
        margin-top: 60px;
        margin-bottom: 30px;
        position: relative;
        z-index: 2;
    }

    .line {
        display: none;
    }

    .vertical {
        font-size: 42px;
        line-height: 40px;
        position: absolute;
        right: -30px;
        top: -130px;
    }

    .title_wrap {
        display: block;
    }

    .main_title>p {
        margin-top: 40px;
        font-size: 11px;
        line-height: 14px;
    }

    .face {
        width: 250px;
        height: auto;

        position: absolute;
        right: 0px;
        bottom: -180px;

        left: auto;
        top: auto;
    }

    .about_me {
        height: auto;
        padding-bottom: 80px;
        transform: translateY(80px);
        opacity: 0;
        transition: all 0.8s ease;
    }

    .about_title>h3 {
        font-size: 43px;
        margin-bottom: 60px;
    }

    .about_me.active {
        transform: translateY(0);
        opacity: 1;
    }

    .about_main {
        flex-direction: column;
        padding: 100px 20px 0;
        margin-bottom: 60px;
        gap: 40px;
    }

    .about_main>.dot {
        display: none;
    }

    .keyword {
        padding: 6px 16px;
        font-size: 14px;
        border-radius: 20px;
    }

    .keyword01 {
        top: 0;
        right: 0;
        left: auto;
    }

    .keyword02 {
        top: 40px;
        right: 30px;
        left: auto;
    }

    .keyword03 {
        top: 80px;
        right: 0px;
        left: auto;
    }

    .wrap_box {
        width: 80%;
        height: 250px;
        margin: 0 auto;
        transition: all .8s ease;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 5px;
    }

    .wrap_box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    .wrap_box,
    .wrap_box.active {
        width: 100%;
        height: 250px;
    }

    .about_img {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .about_con {
        flex-direction: column;
        padding: 0 20px;
        gap: 80px;
        margin-bottom: 80px;
    }

    .con_item:last-child {
        display: none;
    }

    .about_skill {
        padding: 0 20px;
        flex-direction: column;
        align-items: stretch;
    }

    .about_skill>h3 {
        margin: 0 0 30px;
    }

    .ps_ai,
    .pr_htmlcss,
    .cpa_fig {
        width: 100%;
    }

    .barcon {
        flex: 1;
    }

    .bar {
        width: 100%;
    }

    .barline {
        justify-content: flex-start;
        gap: 12px;
    }

    .icon {
        width: 36px;
        height: 36px;
    }

    .works {
        height: auto;
        flex-direction: column;
        padding: 0 20px;
        margin-top: 100px;
        gap: 40px;
        position: relative;
        padding-bottom: 60px;
        margin-bottom: 80px;
        overflow: hidden;
    }

    .works_title {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas:
            "title ."
            "text button"
            "under under";
        row-gap: 15px;
    }

    .works_title>h3 {
        grid-area: title;
        font-size: 50px;
        margin: 0;
    }

    .pc_p {
        display: none;
    }

    .mo_p {
        display: block;
    }

    .works_title>p:not(.under) {
        grid-area: text;
    }

    .arrow_controls {
        display: none;
        /* grid-area: button;
        align-self: end;
        margin: 0; */
    }

    .text.default {
        display: none;
    }

    .text.hover {
        opacity: 1;
        transform: translateY(0);
        position: absolute;
    }

    .card img {
        filter: brightness(0.6);
        transform: scale(1.1);
        filter: blur(2px) brightness(0.6);
    }

    .card {
        padding-bottom: 0px;
    }

    .track {
        touch-action: pan-y;
        flex-wrap: nowrap;
        gap: 20px;

        display: flex;
        scroll-behavior: smooth;
    }

    .slider {
        height: 426px;
        scroll-snap-align: center;
        width: 100%;
    }

    .slide {
        width: 240px;
        height: 380px;
        flex: 0 0 auto;
        scroll-snap-align: center;
    }

    .contact {
        height: auto;
        padding: 100px 20px 40px;
        text-align: center;
    }

    .contact_wrap {
        display: block;
        margin-top: 0;
        position: relative;
    }

    .under {
        display: none;
    }

    .under_mo {
        transform: rotate(90deg) translateX(-50%);
        ;
        display: block;
        position: absolute;
        left: 50%;
        top: -120px;
        font-size: 30px;
        font-weight: 200;
        animation: float 1.5s ease-in-out infinite;
    }

    h1 {
        font-size: 80px;
        line-height: 80px;
        margin-bottom: 50px;
    }

    .numail_wrap {
        display: block;
        margin-top: 0;
    }

    .tact_title {
        font-size: 36px;
        margin-bottom: 30px;
        margin-top: 90px;
    }

    .numail {
        display: block;
        margin: 0;
        font-size: 16px;
        flex-direction: column;
        gap: 20px;
    }

    /* Phone / Email 제목 숨김 */
    .numail_title {
        display: none;
    }

    .numail_con {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .number,
    .bmail {
        font-size: 18px;
        font-weight: 400;
    }

    .last_tact {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .left_tact {
        display: none;
    }

    .cen_tact {
        text-align: center;
        font-size: 14px;
    }

    .right_tact {
        text-align: center;
        font-size: 14px;
    }

    .top_btn {
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: 35px;
        height: 35px;
        border-radius: 3px;
        border: 1px solid #111;
        background: #fafafa;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #111;
        text-decoration: none;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -1px;
        z-index: 999;
        transition: background 0.2s ease, color 0.2s ease;
    }

    /* 터치(클릭)했을 때 */
    .top_btn:active {
        transform: scale(0.95);
    }

    .top_btn:hover {
        background: #fafafa;
        color: #111;
    }
}